body {
    background-color: #000000; /* light blue */
    color: white; /* Change default text color */
    font-family: Arial, sans-serif
}

.headline-1 {
    color: rgb(150, 150, 161);
    font-size: 36px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 150px); /* 7 columns */
    gap: 10px;
    padding: 20px;
}

.day-box {
    width: 150px;
    height: 100px;
    background-color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

.day-box.active {
    background-color: mediumseagreen;
    color: white;
}

#eventInput {
    width: 150px;
    padding: 5px;
    font-size: 16px;
    background-color: #7a7a7a;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    outline: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

#eventInput:focus {
    border-color: #2196F3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
}

.eventClear {
    width: 75px;
    height: 30px;
}
