body {
    /*background-color: #333333; */
    background: radial-gradient(circle at 25% 50%, #414141 0%, #121212 200%);
    font-size: 24px;
    color: white; /* Change default text color */
    font-family: Arial, sans-serif
}

#topDiv {
    display: flex;
}
.headline-1 {
    color: rgb(172, 172, 204);
    font-size: 36px;
}
#quickText {
    font-size: larger;
    margin-left: 50px;
}

#calendarScroll {
    width: 1025px;
    height: 490px;  /* Adjust based on how many weeks you show at once */
    overflow-y:auto;
    padding: 10px;
    box-shadow: 0 0 5px #000000;
    background-color: #333333;
    border: 6px solid;
    border-color: #000000;
    margin-left: -5px;
} 
.calendar-grid {
    display: grid;  
    grid-template-columns: 25px repeat(7, 128px); /* extra column for week number */
    gap: 10px;
    padding: 20px;
}

.day-box {      /* || The main box || */
    width: 130px;
    height: 70px;
    background-color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    justify-content: flex-start;
    padding-top: 4px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s;
}
[today="true"] {
    width: 122px;
    height: 62px;
    color: white;
    border: 4px solid;
    border-color: #ffffff;
    border-radius: 14px;
    background-clip: padding-box; 
}
[boxColor="weekend"] {
    background-color: rgb(131, 131, 131);
    color: white;
}
[boxColor="thursday"] {
    background-color: rgb(88, 106, 117);
    color: white;
}
[boxColor="friSports"] {
    background-color: rgb(120, 90, 125);
    color: white;
}
.day-box.active[boxEventColor="red"] {
    background-color: rgb(155, 35, 35);
    color: white;
}
.day-box.active[boxEventColor="or"] {
    background-color: rgb(187, 125, 33);
    color: white;
}
.day-box.active[boxEventColor="grey"] {
    background-color: rgb(131, 131, 131);
    color: white;
} .day-box.active[boxEventColor="purple"] {
    background-color: rgb(159, 129, 170);
    color: white;
} .day-box.active[boxEventColor="green"] {
    background-color: mediumseagreen;
    color: white;
}

.weekDiv {
    width: 55px;
    height: 50px;
    background-color: rgb(40, 82, 76);
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    justify-content: flex-start;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-radius: 30%;
    user-select: none;
    margin-top: 10px;
    margin-left: -25px;
} .weekDiv[weekType="a"] {
    background-color: rgb(66, 128, 118);
}

.day-num {
    font-weight: bold;
    font-size: 25px;
}

.event-text {
    font-size: clamp(8px, 2vw, 18px);
    color: #ffffff;
    margin-top: 0px;
    max-width: 100%;
    line-height: 18px;
}

.event-text-red {
    font-size: 18px;
    color: #ff0000;
    margin-top: 4px;
}

#eventInput {
    width: 200px;
    padding: 5px;
    font-size: 20px;
    background-color: #7a7a7a;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    outline: none;
    margin-bottom: 10px;
    transition: 0.3s;
} #eventInput:focus {
    border-color: #2196F3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
}

.eventClear {
    width: 80px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
} .eventClear:active {
    transform: scale(0.98);
    background-color: #d8cbcb;
}

.colorChange {
    width: 60px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}
#color-green {
    background-color: #4CAF50;
    color: #4CAF50;
} #color-or {
    background-color: orange;
    color: orange;
} #color-red {
    background-color: rgb(173, 25, 25);
    color: rgb(173, 25, 25);
} #color-grey {
    background-color: rgb(131, 131, 131);
    color: rgb(131, 131, 131);
} #color-purple {
    background-color: rgb(170, 133, 177);
    color: rgb(170, 133, 177);
} #color-clear {
    background-color: rgb(65, 65, 65);
        color: rgb(65, 65, 65);
}
#color-green.toggled { background-color: #3ec743; color:#3ec743; border: 5px solid;}
#color-or.toggled { background-color: #ffb444; color:#ffb444; border: 5px solid;}
#color-red.toggled { background-color: #ff6458; color:#ff6458; border: 5px solid;}
#color-grey.toggled { background-color: rgb(180, 180, 180); color:rgb(180, 180, 180); border: 5px solid;}
#color-purple.toggled { background-color: rgb(194, 167, 199); color:rgb(194, 167, 199); border: 5px solid;}
#color-clear.toggled { background-color: rgb(100, 100, 100); color:rgb(100, 100, 100); border: 5px solid;}

#loadC {
    font-size: 24px; 
    padding-left: 12px;
    padding-right: 12px;
    background-color: #dddddd;/*#b3b3b3;*/
    cursor: pointer;
}#loadC:active {
    transform: scale(0.98);
}
#saveWarning {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 28px;
}

#saveEvent {
    background-color: #b3b3b3;
    width: 180px;
    height: 35px;
    cursor: pointer;
    font-size: 24px;
}
#saveEvent:active {
    background-color: #8b8b96;
    transform: scale(0.98); /* slightly shrink */
}

#STimeAdd {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #bbbbbb;
    color: #121212;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding-right: 2px;
    font-size: 26px;
    border-radius: 20px;
}#STimeAdd:active {
    transform: scale(0.98);
}

#dueList {
    line-height: 20px;
    position: absolute;
    top: 80px;
    left: 1075px;
}
.newDue {
    font-size: 28px;
    font-weight: bold;
    color: #3ec743;
}
.newDue[dueColor="or"] {
    color: #e49f50;
} .newDue[dueColor="red"] {
    color: #e55050;
}

#TimeB {
    background-color: #bb1e1e;
    border-color: #852a2a;
    border-radius: 20px;
    width: 60px;
    height: 42px;
    font-size: 30px;
    color: #00000000;
    cursor: pointer;
} #TimeB:active {
    transform: scale(0.98);
} #TimeD {
    width: 20px;
    height: 20px;
    position: relative;
    top: -31px;
    left: 7px;
    background-color: #00000000;
    border: 5px solid;
    border-color: #880f0f;
    border-radius: 100px;
    cursor: pointer;
    transform: scale(0.98);
}
#Timer {
    line-height: 0%;
}
